body { 
  background-color: #F2F2F2 !important;
}

.ong_header {
  margin-bottom: 6rem;
}

.menu_top {
  background: #fff;
  text-align: center;
}

.brand_adm {
  color: #000033;
  font-weight: 900;
  margin-left: 5rem;
}

.logo {
  margin-left: -20rem;
}

.ongs_title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.bt_add {
  background: #145205 !important;
  color: #fff !important;
}

.bt_att {
  background: #176604 !important;
  color: #fff !important;
}

.bt_dtlhs {
  background: #000033 !important;
  color: #fff !important;
}

.details_ongs {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.bt_vlt {
  display: inline;
  flex-direction: column;
}

.btns_space { 
  display: flex;
  flex-direction: row;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
}